#board {
    text-align: center;
}

.tablero {
    font-family: 'Montserrat', sans-serif;
}

#mobile-indicator {
    display: none;
}


.tabjugador {
    color: #192760;
    margin-left: 10%;
}

.taboponente {
    color: #811305;
    float: right;
    margin-right: 10%
}

.textotablero {
    display: inline-block;
    font-size: xx-large;
}

#scorej {
    display: inline-block;
}

#scoreo {
    display: inline-block;
}

#botones {
    text-align:center;
    margin-top: 5%
}

#botonesRespuesta {
    text-align:center;
    margin-top: 5%
}

#figure {
    text-align:center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

button:disabled {
    background-color: #AAAAAA
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

ol li {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2em;
}
 
#figure {
    max-width: 100%;
}

img {
    max-width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#tutModal {
    display: block;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .textotablero {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }

    ol li {
        font-size: 1em;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        font-size: 1em;
    }

    
    #responderPregunta {
        font-size: 2em;
    }

    #mobile-indicator {
        display: block;
    }
}
